$white: #fff;
$gray: #f9f9f9;
$text-gay: #949494;
$intro-bg: #93bbea;
$green: #36ba5f;

$b-sh-social-section: 0px 20px 60px rgba(26, 26, 26, 0.05);
$box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
$b-sh-btn-slide: 0px 1px 7px rgba(0, 0, 0, 0.09);
$link-hover: 0px 10px 8px 1px rgba(34, 60, 80, 0.2);

$border-radius-section: 40px;
$border-radius-slide: 16px;
$border-radius-address: 12px;
$border-radius-section-tablet: 20px;

$transition-06: all 0.6s ease;
